PIJAVA_BREVO_API_KEY=replace_with_your_brevo_api_key
PIJAVA_BREVO_SENDER_EMAIL=verified-sender@yourdomain.com
PIJAVA_BREVO_SENDER_NAME=E-SPORTIFY
PIJAVA_GOOGLE_CLIENT_ID=replace_with_google_client_id
PIJAVA_GOOGLE_CLIENT_SECRET=replace_with_google_client_secret
PIJAVA_GOOGLE_REDIRECT_URI=http://127.0.0.1:53682/callback
PIJAVA_DISCORD_CLIENT_ID=replace_with_discord_client_id
PIJAVA_DISCORD_CLIENT_SECRET=replace_with_discord_client_secret
PIJAVA_DISCORD_REDIRECT_URI=http://127.0.0.1:53683/callback
